body {

    background-color: lightgrey;
}



header {

    color: rgb(170, 170, 255);
    background-color: grey;
    text-align: left;
    font-size: 75px;
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
    font-family: verdana;
    padding-left: 16%;
    box-shadow: 5px 5px black;
    text-shadow: 5px 5px black;
    letter-spacing: 3px; 
}

h2 {
    
    font-size: 26px;
    color: rgb(170, 170, 255);
    background-color: grey;
    text-align: center;
    margin-left: 86%;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 5px 5px black;
    margin-right: 15px;
    text-shadow: 1px 1px black;
} 

p {

    background-color: lightslategrey;
    color: white;
    padding: 70px;
    border-radius: 150px;
    font-size: 29.5px;
    font-family: verdana;
    letter-spacing: 2px;
}

ul {

    font-size: 50px;
    background-color: lightslategrey;
}

li {

    padding: 20px;
    display: inline;
}

img {

    height: 500px;
    float: right;
    border: 10px solid black;
    border-radius: 30px;
}

a {

    padding: 300px;
    font-size: 50px;
    color: black;
}

a:hover {

    color: blue;
}

footer {

    background-color: black;
}